---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Why Join?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Learn from the Best">
          Learn from the best cyber experts in the industry.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Access Opportunities">
        </Feature>
        <Feature icon="mdi:looks" title="Redefine Cybersecurity">
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
