---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Why Join?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:school" title="Learn from the Best">
          Learn from the best cyber experts in the industry.
        </Feature><Feature icon="mdi:key-chain" title="Access Opportunities">
          Connect with high-impact cybersecurity projects and top clients worldwide.
        </Feature>
        <Feature icon="mdi:shield-lock" title="Redefine Cybersecurity">
          Join a network of experts pushing the boundaries of digital security.
        </Feature>
        <Feature icon="mdi:calendar-clock" title="Flexibility">
          As a freelance network, we work on a project-to-project basis. Choose assignments that match your schedule and expertise.
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
