---

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - </a>. Made with ❤️ by <a>Backland Labs</a
        >.
      </p>
    </div>
  </section>
</footer>
